question: "Install Fish?"
priority: 1
steps:
  - Add Fish repository:
    - sudo apt-add-repository ppa:fish-shell/release-3 -y

  - Updating apt repositories:
    - sudo apt update

  - Installing Fish:
    - sudo apt install fish -y

  - Copy Fish configs:
    - cp -r ./dot-config /home/$(whoami)/.config/fish

  - Set Fish as default:
    - sudo chsh -s /usr/bin/fish $(logname)
