question: "Install Visual Studio Code?"
steps:
  - Installing dependencies:
    - sudo apt update
    - sudo apt install software-properties-common apt-transport-https wget

  - Importing Microsoft GPG keys:
    - wget -q https://packages.microsoft.com/keys/microsoft.asc -O- | sudo apt-key add -

  - Add Visual Studio Code repository:
    - sudo add-apt-repository "deb [arch=amd64] https://packages.microsoft.com/repos/vscode stable main"

  - Installing Visual Studio Code:
    - sudo apt update
    - sudo apt install code
